        body {
            margin: 0;
            font-family: 'CASTELLAR', serif;
            background-color: #002060;
            color: white;
        }
        h1{
            font-size: 3vh;
        }
        .header{
            font-family: 'CASTELLAR', serif;
            font-size: 5vh;
        }
        .descript{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: small;
        }
        .container {
            display: flex;
            height: 100vh;
        }
        .left {
            flex: 1;
            background-color: #002060;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        .left h1 {
            font-size: 108px;
            font-style: normal;
        }
        .left p {
            font-size: 24px;
        }
        .right {
            flex: 1;
            background-color: #4A6FB2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
        }
        .tab {
            background-color: white;
            color: black;
            font-size: 28px;
            padding: 20px;
            margin: 10px;
            text-decoration: none;
            font-weight: bold;
            display: block;
            text-align: center;
            border-radius: 5px;
        }
        .top-right {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            color: black;
            width: 200px;
        }
        .top-right img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
